.stApp { background-color: white; direction: rtl; }
.center-img { display: flex; justify-content: center; }
h2 { text-align: center; color: #2e35c2; font-size: 1.2rem !important; }

/* פרסונות */
.p-circle, .active-circle {
    width: 55px; height: 55px; border-radius: 50%;
    margin: 0 auto; display: flex; align-items: center; justify-content: center;
    font-size: 10px; transition: 0.3s;
}
.p-circle { background-color: #E1EFFF; color: #2e35c2; }
.active-circle { background-color: #2e35c2; color: white; border: 2px solid #2e35c2; }

/* כפתורי רדיו */
div[data-role="radiogroup"] label {
    background: white !important; border: 1px solid #2e35c2 !important;
    border-radius: 6px !important; padding: 2px 8px !important; color: #2e35c2 !important;
}

/* כפתור ראשי */
.stButton button {
    background: linear-gradient(90deg, #5D9FFF 0%, #2E35C2 100%) !important;
    color: white !important; border-radius: 10px !important; height: 45px; border: none !important;
}

/* יישור לימין */
input, textarea { direction: rtl !important; text-align: right !important; }
